---
layout: default
title: Espai Consulting 24
custom_css: purple
custom_font: font1

hero_area:
  enable: true
  bg_image: "/assets/images/art/bg9.jpg"
  title: "Tu visión, nuestro diseño: juntos construimos el futuro."
  btn_text: "Empezamos"
  btn_url: "#"

three_columns_area:
  enable: true
  title: "¿Que hacemos?"
  sub_title: "¿Te duele saber que pierdes dinero porque no estás aplicando IA y no sabes por donde empezar?"
  services:

    - title: "Social Media"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept14@2x.png"
      button_text: "Learn Morn"
      button_url: "#"
      sub_title: "Somos expertos consultores, comprometidos y nos gusta nuestro trabajo. Nosotros tambien queremos ser más productivos. Y tampoco nos gusta perder dinero."

    - title: "Digital Marketing"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept19@2x.png"
      button_text: "Learn Morn"
      button_url: "#"
      sub_title: "Seleccionamos un máximo de 4 proyectos interesantes al mes."

    - title: "SEO Optimization"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept18@2x.png"
      button_text: "Learn Morn"
      button_url: "#"
      sub_title: "Solicita presupuesto y sé unos de los proyectos interesantes elegidos de este mes."

three_columns_area_nosotros:
  enable: true
  title: "¿Porque nosotros?"
  sub_title: "¿Te duele saber que pierdes dinero porque no estás aplicando IA y no sabes por donde empezar?"
  services:
    - title: "Social Media"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept14@2x.png"
      button_text: "Learn Morn"
      button_url: "#"
      sub_title: "Somos expertos consultores, comprometidos y nos gusta nuestro trabajo. Nosotros tambien queremos ser más productivos. Y tampoco nos gusta perder dinero."

    - title: "Digital Marketing"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept19@2x.png"
      button_text: "Learn Morn"
      button_url: "#"
      sub_title: "Seleccionamos un máximo de 4 proyectos interesantes al mes."

    - title: "SEO Optimization"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept18@2x.png"
      button_text: "Learn Morn"
      button_url: "#"
      sub_title: "Solicita presupuesto y sé unos de los proyectos interesantes elegidos de este mes."


skills_area:
  enable: true
  title: "What We Do?"
  sub_title: "We specialize in web, mobile, brand & product design. We love to turn ideas into beautiful things."
  section_id: "services"
  skills:
    - title: "Web Development"
      numbers: 100
      style: "pink"

    - title: "Product Design"
      numbers: 80
      style: "blue"

    - title: "Identity & Branding"
      numbers: 85
      style: "green"

    - title: "Mobile Development"
      numbers: 90
      style: "purple"


boxes_area:
  enable: true
  lists:
    - title: "Web Development"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-code"

    - title: "Product Design"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-magic-alt"

    - title: "Identity & Branding"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-paint"

video_area_1:
  enable: true
  title: "¿Porque Nosotros?"
  vimeo_video_id: "165101721"
  button_text: "More Details"
  button_url: "#"
  lists:
    - Aenean eu leo quam ornare.
    - Nullam quis risus eget mollis.
    - Donec elit non mi porta gravida.
    - Fusce dapibus cursus commodo.

  services:
    - title: "Somos expertos consultores, comprometidos y nos gusta nuestro trabajo. Nosotros tambien queremos ser más productivos. Y tampoco nos gusta perder dinero."

    - title: "Seleccionamos un máximo de 4 proyectos interesantes al mes."

    - title: "Solicita presupuesto y sé unos de los proyectos interesantes elegidos de este mes."

two_columns_first_area:
  enable: true
  title: "Te ocurre lo siguiente?"
  contenido: "No eres un friki de la tecnología, pero has oído por ahí que aplicando Inteligencia Artificial, puedes ganar más dinero, aumentando la productividad de tus empleados, automatizando sus tareas más rutinarias, liberando así parte de su tiempo para realizar tareas de más valor. Y sientes curiosidad…"
  image: "/assets/images/concept/concept15@2x.png"

two_columns_second_area:
  enable: true
  title: "Te ayudamos"
  contenido1: "Queremos transformar digitalmente tu empresa, con IA o sin ella, de una manera profesional, con sentido común e inteligencia natural. Porque…"
  contenido2: "¿Quieres subirte al tren digital, con IA o sin ella, y ser más rentable, verdad?"
  contenido3: "Realizamos auditorías previas, informes de situación y te entregamos una propuesta de transformación. Pronto lo verás claro y te sentirás seguro. Podrás cuantificar el beneficio de manera simple."
  contenido4: "Si sabes contar, cuenta con nosotros!"
  image: "/assets/images/concept/concept17.png"

two_columns_one_area:
  enable: true
  title: "How It Works?"
  sub_title: "Find out everything you need about creating a business process model."
  image: "/assets/images/concept/concept15@2x.png"
  lists:

    - title: "Creative Ideas"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Magic Touch"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Data Analysis"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

    - title: "Finalize Product"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras."

two_columns_two_area:
  enable: true
  title: "Why Choose Us?"
  sub_title: "So here are a few reasons why our valued customers choose us."
  image: "/assets/images/concept/concept17.png"
  tabs:

    - title: "Money Protection"
      content: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes."

    - title: "Strategic Development"
      content: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes."

    - title: "Marketing Management"
      content: |
        "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes."

video_area:
  enable: true
  title: "How We Do It?"
  sub_title: "Find out everything you need to know about creating a business process model."
  image: "/assets/images/art/bg25.jpg"
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"

blogs_area:
  enable: true
  title: "Case Studies"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  posts_number: 5

area_seleccion:
  enable: true
  title: ¿Porque nosotros?
  sub_title1: "Somos expertos consultores, comprometidos y nos gusta nuestro trabajo. Nosotros tambien queremos ser más productivos. Y tampoco nos gusta perder dinero."
  sub_title2: "Seleccionamos un máximo de 4 proyectos interesantes al mes."
  sub_title3: "Solicita presupuesto y sé unos de los proyectos interesantes elegidos de este mes."

testimonials_area:
  enable: true
  title: "Happy Customers"
  sub_title: "Customer satisfaction is our major goal. See what our customers are saying about us."
  image: "/assets/images/concept/concept16@2x.png"
  testimonials:

    - quote: |
        "Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras mattis consectetur purus posuere"
      author: "Cornelia Gibson"
      bio: "Financial Analyst"

    - quote: |
        "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, posuere consectetur est at lobortis."
      author: "Coriss Ambady"
      bio: "Marketing Specialist"

    - quote: |
        "Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi cras mattis consectetur purus posuere"
      author: "Coriss Ambady"
      bio: "Marketing Specialist"

clients_carousel:
  enable: true

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: "We offer great prices, premium products and quality service for your business."
  btn_url: "#"
  description: |
    "Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

faq_area:
  enable: true
  title: "FAQ"
  sub_title: "If you don't see an answer to your question, you can send us an email from our contact form."
  image: "/assets/images/concept/concept13.png"
  tabs:
    - question: "Can I cancel my subscription?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "Which payment methods do you accept"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "How can I manage my Account?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "Is my credit card information secure?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

    - question: "How do I get my subscription receipt?"
      answer: |
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna,  nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.

---
{% include header.html container_class="container" extra_class="absolute transparent inverse-text nav-uppercase" light_logo="true" %}
{% if page.hero_area.enable %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4YQ4BQTTMF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4YQ4BQTTMF');
</script>
<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullwidth-container">
    <div id="slider10" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="">
          <img src="{{page.hero_area.bg_image}}" alt="{{page.hero_area.title}}"/>
          <div class="tp-caption font-weight-600 color-white text-center"
               data-x="center"
               data-y="middle"
               data-voffset="['-45','-45','-45','-45']"
               data-fontsize="['50','50','40','36']"
               data-lineheight="['65','65','55','51']"
               data-width="['550','550','550','340']"
               data-textAlign="['center','center','center','center']"
               data-whitespace="['normal','normal','normal','normal']"
               data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-responsive="on"
               data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.title}}
          </div>
          <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll"
               data-x="center"
               data-y="middle"
               data-voffset="['85','85','85','85']"
               data-width="['auto','auto','auto','auto']"
               data-textAlign="['center','center','center','center']"
               data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
               data-responsive="on"
               data-responsive_offset="on" style="z-index: 9;" href="{{page.hero_area.btn_url}}"> {{page.hero_area.btn_text}}
          </a>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}

<div class="wrapper white-wrapper">
  <div class="container inner">
    {% if page.three_columns_area.enable %}
   <div class="three-columns-wrapper">
      <div class="row">
        <div class="">
          <div class="text-center">
            <h2 class="title-bg bg-default color-default">{{page.three_columns_area.title}}</h2>
          </div>
          <div class="space10"></div>
          <h1 class="display-title text-center" style="font-size: 2.5rem; line-height: 2.25rem">{{page.three_columns_area.sub_title}}</h1>
          <div class="space30"></div>
        </div>
      </div>
     <!--
      <div class="row gutter-60 text-center align-items-end">
        {% for service in page.three_columns_area.services %}
        <div class="col-md-4">
          <figure class="mb-30"><img src="{{service.image}}"  alt="{{service.title}}"/></figure>
          <h4>{{service.title}}</h4>
          <p class="mb-15">{{service.description}}</p>
          <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
        </div>
        <div class="space20 d-md-none"></div>
        {% endfor %}
      </div>-->
    </div>
    {% endif %}
    {% assign colmns_data_one = page.two_columns_first_area %}
    {% if colmns_data_one.enable %}
    <div class="two-columns-one">
      <div class="space140"></div>
      <div class="row align-items-center">
        {% if colmns_data_one.image %}
        <div class="col-lg-6">
          <figure>
            <img src="{{colmns_data_one.image}}"  alt="{{colmns_data_one.title}}"/>
          </figure>
        </div>
        <!--/column -->
        {% endif %}
        <div class="space20 d-md-none"></div>
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-6 pl-60 pl-md-15">
          <h2 class="title-bg bg-default color-default">{{colmns_data_one.title}}</h2>
          <div class="space10"></div>
          <h4 class="color-gray">{{colmns_data_one.contenido}}</h4>
          <div class="space20"></div>
          <h3 class="color-gray">Podemos evitar este <span class="color-dark">dolor</span>. Respondemos a tu curiosidad.</h3>
          <div class="space20"></div>
          <h3 class="display-3">Sabemos por donde empezar!</h3>
        </div>
      </div>
    </div>
    {% endif %}
    {% assign columns_data_two = page.two_columns_second_area %}
    {% if columns_data_two.enable %}
    <div class="two-columns-two">
      <div class="space140"></div>
      <div class="row align-items-center">
        {% if columns_data_two.image %}
        <div class="col-lg-6 order-lg-2 text-center">
          <figure>
            <img src="{{columns_data_two.image}}" alt="{{columns_data_two.title}}"/>
          </figure>
        </div>
        {% endif %}
        <div class="space20 d-md-none"></div>
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-6 pr-60 pr-md-15">
          <h2 class="title-bg bg-default color-default">{{columns_data_two.title}}</h2>
          <div class="space10"></div>
          <h4 class="color-gray">{{columns_data_two.contenido1}}</h4>
          <div class="space10"></div>
          <h4 class="color-gray">{{columns_data_two.contenido2}}</h4>
          <div class="space10"></div>
          <h4 class="color-gray">{{columns_data_two.contenido3}}</h4>
          <div class="space20"></div>

          <h3 class="display-3">{{columns_data_two.contenido4}}</h3>
        </div>
      </div>
    </div>
    {% endif %}
    <!--{% if page.area_seleccion.enable %}
    <div class="wrapper white-wrapper inner">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <div class="text-center">
              <h2 class="title-bg bg-default color-default">
                {{page.area_seleccion.title}}
              </h2>
            </div>
            <div class="space10"></div>
            <h3 class="display-3 text-center">
              Somos expertos consultores, comprometidos y nos gusta nuestro trabajo. Nosotros tambien queremos ser más productivos. Y tampoco nos gusta perder dinero.
            </h3>
            <div class="space40"></div>
            <div class="space10"></div>
            <h3 class="display-3 text-center">
              {{page.area_seleccion.sub_title2}}
            </h3>
            <div class="space40"></div>
            <div class="space10"></div>
            <h3 class="display-3 text-center">
              {{page.area_seleccion.sub_title3}}
            </h3>
            <div class="space40"></div>
            <div class="text-center">
                <a href="{{pricing.pricing_url}}" class="btn display-3 text-center" role="button">Contactar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif%}

    <div class="col-lg-7 order-lg-2 offset-lg-1">
      <ul class="progress-list">
        {% for skills in page.skills_area.skills %}
        <li>
          <p>{{skills.title}}</p>
          <div class="progressbar line {{skills.style}}" data-value="{{skills.numbers}}"></div>
        </li>
        {% endfor %}
      </ul>
    </div>-->

    <!--{% if page.boxes_area.enable %}
    <div class="boxes-area text-center">
      <div class="space60 text-center"></div>
      <div class="row text-center" style="margin: auto">
        {% for list in page.boxes_area.lists %}
        <div class="col-md-6 col-lg-3 text-center">
          <div class="box bg-white shadow shadow-hover text-center">
            <div class="icon color-default fs-42 mb-20"> <i class="{{list.icon}}"></i> </div>
            <h5>{{list.title}}</h5>
            <p>{{list.description}}</p>
          </div>
          /.box --><!--
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}-->
    <div class="space80"></div>

    <div class="space80"></div>

    {% if page.video_area_1.enable %}
    <div class="video-area">
      <div class="wrapper light-wrapper">
        <div class="container inner">
          <div class="text-center">
            <h2 class="title-bg bg-default color-default">
              {{page.video_area_1.title}}
            </h2>
          </div>
          <!--/.row -->
          <div class="space80"></div>
          <div class="row gutter-60 gutter-md-30">
            {% for service in page.video_area_1.services %}
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-4">
              <div class="d-flex flex-row">
                <div>
	            <span class="icon icon-bg icon-bg-default color-default mr-25">
	            	<span class="number">{{forloop.index}}</span>
	            </span>
                </div>
                <div>
                  <h5>{{service.title}}</h5>
                  <p class="mb-0">{{service.description}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </div>
      <div class="space80"></div>
      <div class="text-center">
        <a href="/contact/contact" class="btn display-3 text-center" role="button">Contactar</a>
      </div>
      <!-- /.wrapper -->
    </div>
    {% endif %}

  </div>
</div>
{% include footer_3.html light_logo="true" %}