---
layout: page
title: "ESPAI CONSULTING 24"
sub_title: |
  Somos una consultoria que transforma <br class="d-none d-lg-block" /> ideas audaces en soluciones inteligentes.
header_image: "/assets/images/art/bg9.jpg"
header_style: "one"
white_menu: true

about_area: 
  enable: true
  title: "¿Que hacemos?"
  sub_title: "Somos especialistas en asesoria tecnológica, inteligencia artificial, analitica de datos avanzada y recreación de procesos reales. Nos encanta convertir ideas en soluciones reales y útiles."
  projects_number: 450
  project_tag: "Completed Projects"
  image: "/assets/images/art/about7.png"
  skills:
    - title: "Asesoria"
      numbers: 100
      style: "pink"

    - title: "Inteligencia artificial"
      numbers: 90
      style: "blue"

    - title: "Analitica avanzada"
      numbers: 85
      style: "green"

    - title: "Gemelos digitales"
      numbers: 75
      style: "purple"

video_area:
  enable: true
  title: "How We Do It?"
  sub_title: "Find out everything you need to know <br>about creating a business process model."
  image: "/assets/images/art/bg10.jpg"
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"

clients_carousel:
  enable: true

teams_carousel:
  enable: true
  type: "blob"
  title: |
    Estalvia tu tiempo y dinero <br class="d-none d-lg-block"> escogiendo nuestro equipo.

contact_area:
  enable: true
  title: "Contactnos"
  image: "/assets/images/art/map.png"
  sub_title: |
   'No estás convencido? Vamos a hacer grandes logros juntos <br class="d-none d-lg-block">Si tienes alguna pregunta, no dudes en contactar con nosotros'
  contact_data:
    - icon: "/assets/images/icons/ui-gps.png"
      info: "Moon Street Light Avenue<br> 14/05 Jupiter, JP 80630"

    - icon: "/assets/images/icons/co-telephone.png"
      info: "00 (123) 456 78 90<br/> 00 (987) 654 32 10"

    - icon: "/assets/images/icons/co-email-5.png"
      email_01: "manager@email.com"
      email_02: "asistant@email.com"
---

<!--about us wrapper-->

<div class="wrapper light-wrapper">
    <div class="container inner">
      {% if page.about_area.enable %}
        <div class="row align-items-center">
          <div class="col-lg-12 order-lg-2 text-center align-items-center">
          </div>
          <!--/column -->
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-12 pr-60 pr-md-15 align-items-center">
            {% if page.about_area.title %}
             <h2 class="section-title mb-20">{{ page.about_area.title }}</h2>
            {% endif %}
            {% if  page.about_area.sub_title %}
             <p class="lead larger">{{page.about_area.sub_title}}</p>
            {% endif %}
            <div class="space20"></div>
            <ul class="progress-list">
              {% for skills in page.about_area.skills %}
              <li>
                <p>{{skills.title}}</p>
                <div class="progressbar line {{skills.style}}" data-value="{{skills.numbers}}"></div>
              </li>
              {% endfor %}
            </ul>
            <!-- /.progress-list -->
          </div>
          <!--/column -->
        </div>
        <!--/.row --> 
        {% endif %}
    </div>
  </div>
  <!--wrapper About Us-->
<!-- clients carousel wrapper-->
<!--<div class="wrapper gray-wrapper">
    <div class="container inner">
        {% if page.clients_carousel.enable %}
      
      {% include clients_carousel.html %}
      {% endif %}
    </div>
</div>-->
<!--/.wrapper clients carousel-->
<!-- wrapper team members-->
{% include team_members.html %}
<!--/.wrapper team members-->
<!--contact-->
{% if page.contact_area.enable %}
<div class="wrapper image-wrapper bg-auto no-overlay bg-image text-center"
  data-image-src="{{page.contact_area.image}}">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="title-color color-gray text-center">{{page.contact_area.title}}</h2>
        <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
        <div class="space50"></div>
        <div class="text-center">
          <a href="/contact/contact" class="btn display-3 text-center" role="button">Contactar</a>
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="space120"></div>
<!--/.footer Wrapper-->
